@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
   box-sizing: border-box;
}

body{
   font-family: 'Muli', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   overflow: hidden;
   background-color: #3B9797;
   color: #fff;
   position: relative;
   gap: 20px;
}

.timer{
   position: fixed;
   top: 20px;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 60px;
}

.details-container{
   font-size: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
   padding: 20px;
}

.main-container{
   background-color: #132440;
   width: 80%;
   height: 60%;
   max-height: 700px;
   max-width: 800px;
   font-size: 28px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   color: #fff;
}

.main-container form{
   width: 100%;
   height: 100%;
   padding: 40px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   gap: 30px;
   text-align: center;
}

.main-container form .question-container{
   font-size: 30px;
   font-weight: 600;
   margin-top: -40px;
   line-height: 50px;
}

.main-container form .choices-container{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   margin-top: -30px;
   margin-bottom: 30px;
}

.main-container form .choices-container input{
   transform: translateY(-50%, -50%);
   width: 20px;
   height: 20px;
}

.main-container form .choices-container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #888;
  border-radius: 50%;
  outline: none;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.main-container form .choices-container input[type="radio"]:checked {
  border-color: #F87B1B;
}

.main-container form .choices-container input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: #F87B1B;
  border-radius: 50%;
  top: 10px; 
  left: 10px;
  position: absolute;
  transform: translate(-50%, -50%)
}

.main-container form .submit-answer{
   font-size: 24px;
   padding: 10px 40px;
   border: none;
   border-radius: 10px;
   background-color: #16476a;
   color: #fff;
   cursor: pointer;
   transition: transform 0.3s ease;
}

.main-container form .submit-answer:active{
   transform: scale(0.98);
}
