@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
   box-sizing: border-box;
}

body{
   font-family: 'Muli', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   overflow: hidden;
   background-color: #3B9797;
}

.main-container{
   background-color: #132440;
   width: 50%;
   height: 50%;
   max-width: 600px;
   max-height: 400px;
   font-size: 30px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   gap: 30px;
   padding: 40px 20px;
   text-align: center;
}

.main-container .ready-btn{
   margin-top: 20px;
   width: 50%;
   height: 60px;
   background-color: #16476A;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 28px;
   transition: transform 0.3s ease;
   border-radius: 10px;
}

.main-container .ready-btn:active{
   transform: scale(0.98)
}
